
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
	

}

@media screen and (max-width: 991px) {
	.our-work .filter-photo {
    margin-bottom: 30px;
}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
   .our-service .single-slider {
    margin-top: 50px;
   }
   .our-service.our-team .team-title {
    padding-bottom: 30px;
   }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
		

} 

@media screen and (max-width: 425px) {
    .welcome-content {
        padding-top: 100px;
        padding-bottom: 0;
    }
    .welcome-content h1 {
        font-size: 40px;
    }
    .our-work p.service-content {
        margin-top: 30px;
        padding: 50px;
    }
    .about-us-area .about-us-content {
        padding-top: 0;
    }
    .about-us-area .mac-photo {
        padding-top: 55px;
    }
    .single-slider {
        margin-left: 63px;
        margin-top: 30px;
    }
    .our-team .team-title {
        padding :55px 0;
    }
    .our-service.our-team .float-right {
        padding-left: 0;
        padding-top: 15px;
    }
    .clients-testimonial p {
        padding: 10px;
    }
    .clients-testimonial .team-title {
        padding: 0 0 0 30px;
    }
	.float-left {
        float: none!important;
        text-align: center;
        
    }
    .float-right {
        float: none!important;
        text-align: center;
        padding-left: 55px;
        
    }
    .float-left p {
        font-size: 11px;
    }
} 
@media screen and (max-width: 375px) {
    .our-team .team-title h1 {
        font-size: 32px;
        margin-left: 26px;
    }
    .float-right {
        float: none!important;
        text-align: center;
        padding-left: 35px;
        
    }
}

@media screen and (max-width: 320px) {
    .single-slider {
        margin-left: 45px;
    }
        
    .float-right {
        float: none!important;
        text-align: center;
        padding-left: 0;
        
    }
}